.idea/
*.iml
# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/
env/

# Packaging / build
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
tests/__pycache__/


# Local / downloaded binaries
awscliv2.zip

# Local / downloaded binaries
*.zip
aws/
